<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zust.lxy.zjz.zustapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zustapp">
        <activity android:name="cn.edu.zust.lxy.zjz.LeaveWordActivity"></activity>
        <activity android:name="cn.edu.zust.lxy.zjz.EditNoticeActivity" />
        <activity android:name="cn.edu.zust.lxy.zjz.AdminActivity" />
        <activity android:name="cn.edu.zust.lxy.zjz.Class2Activity" />
        <activity android:name="cn.edu.zust.lxy.zjz.Class1Activity" />
        <activity android:name="cn.edu.zust.lxy.zjz.ShowUserInfoActivity" />
        <activity android:name="cn.edu.zust.lxy.zjz.RegisterActivity" />
        <activity android:name="cn.edu.zust.lxy.zjz.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>